@page
@model budnar_pavel_proiect_medii_de_programare.Pages.Duties.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Duty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duty.DutyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duty.DutyName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Duty.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
